[Unit]
Description=Rev Web5 SNI Proxy HTTP and HTTPS: '%I'
ConditionFileIsExecutable=/opt/webFiveSniProxy/webFiveSniProxy
After=multi-user.target syslog.target network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
Type=idle
Restart=always
RestartSec=5
WorkingDirectory=/opt/webFiveSniProxy
ExecStart=/opt/webFiveSniProxy/webFiveSniProxy -C %i
StandardOutput=file:/var/log/webFiveSniProxy.%i.out
StandardError=file:/var/log/webFiveSniProxy.%i.err

[Install]
WantedBy=multi-user.target
